* {

}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: #30373f;
    height: 50px;
    border-bottom: solid #40b8ff 3px;
}
h1 {
    color: #40b8ff;
    font-size: 180%;
}
nav {
    display: flex;
    justify-content: end;
}
nav li{
    display: inline;
}
nav a {
    text-decoration: none;
    color: #77dcff;
}

#about, #projects, #contact {
    position: relative;
    left: 20%;
    border-left: solid #40b8ff 5px;
}

@media and screen {

}